{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1> Welcome to Rhinex </h1>
    <div class="row">
        <div class="col">
            <br>
            <br>
            <p> This is a platform for sharing GNSS observations in the form of RINEX files. </p>

            <p>Each time you upload a new zip - containing observation, navigation and nmea files - 
                the system will extract metadata that will be used to search the archive of files uploaded to the system.</p>
        </div>
        <div class="col">
            <img src="static/rhino.jpg" class="img-fluid" alt="Responsive image">
            </img>
        </div>
    </div>
    

</div>
{% endblock %}